.blogContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.cardImage {
  position: relative;
  width: 100%;
  height: 500px;
}

.cardImage img {
  object-fit: cover;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: translateY(-3px);
  }
}

.blogTitle {
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
}

.blogBody {
  font-weight: 400;
  font-size: 28px;
}

.notFound {
  text-align: center;
  font-weight: 700;
  font-size: 64px;
}

.notFoundContainer {
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  align-items: center;
}

.categoryName {
  position: absolute;
  left: 0;
  top: 0;
  padding: 7px 20px;
  border-radius: 7px;
  font-size: 18px;
  font-weight: 300;
  color: white;
  box-shadow: inset 0 0 0 2000px rgba(34, 14, 92, 0.5);
}
